*               text=auto

# Скрипты / конфиги — LF
*.sh            text eol=lf
*.py            text eol=lf
*.yml           text eol=lf
*.yaml          text eol=lf
*.conf          text eol=lf
nginx/*.conf    text eol=lf
Dockerfile      text eol=lf
.github/hooks/* text eol=lf

# PowerShell — CRLF (Windows)
*.ps1           text eol=crlf
