fastapi==0.111.0
uvicorn[standard]==0.30.1

# ВАЖНО: корректный httpx под PTB 20.x
httpx==0.26.0

aiohttp==3.9.5
aiofiles==23.2.1
redis==5.0.6
SQLAlchemy==2.0.32
asyncpg==0.29.0
alembic==1.13.2
pydantic==2.7.4
python-dotenv==1.0.1
structlog==23.2.0

# Telegram (если используешь PTB; aiogram можно оставить, но он не обязателен)
python-telegram-bot==20.8
pydantic-settings>=2.2,<3
aiosqlite==0.20.0
